# snowmobile

```{include} /description.md
```

```{eval-rst}

.. toctree::
    :maxdepth: 1
    :hidden:

    ./setup.md

.. toctree::
    :caption: Core
    :maxdepth: 1
    :hidden:

    ./usage/snowmobile.md
    ./usage/script.md
    ./usage/table.md
    ./usage/sql.ipynb
    ./usage/snowmobile_toml.md

.. toctree::
    :caption: Technical Resources
    :maxdepth: 1
    :hidden:

    ./autoapi/snowmobile/core/index
    ./snippets.md
    ./usage/advanced.md

.. toctree::
    :caption: Other
    :maxdepth: 1
    :hidden:

    ./acknowledgements.md
    ./changelog.md
    ./authors.md
    ./license.md
```

+++

## Overview

```{div} sn-dedent-list, sn-depth1
- *[Connecting](#connecting)*
- *[Query Execution](#query-execution)*
- *[Information API](#information-api)*
- *[Loading Data](#loading-data)*
- *[Working with SQL Scripts](#working-with-sql-scripts)*
```

<br>
<br>

```{div} sn-phantom
&nbsp;
```
### *Connecting*

````{admonition} *Connecting*
:class: toggle, sn-gradient-header, sn-indent-h-cell-right-m, sn-toggle-expand

```{div} sn-dedent-v-b-h, sn-dedent-v-t-container-neg
{func}`snowmobile.connect()` returns a [Snowmobile](./usage/snowmobile.md#snowmobile) whose purpose is to:
```
1.  Locate, instantiate, and store [snowmobile.toml](./usage/snowmobile_toml.md#snowmobiletoml)
    as a {class}`~snowmobile.Configuration` object ({class}`sn.cfg`)
1.  Establish a connection to {xref}`snowflake` and store the {xref}`SnowflakeConnection` ({class}`sn.con`)
1.  Serve as the primary entry point to the {xref}`SnowflakeConnection` and {xref}`snowmobile` APIs
+++
```{div} sn-dedent-v-t-h
  The first time it's invoked, [Snowmobile](./usage/snowmobile.md) will find [snowmobile.toml](./usage/snowmobile_toml) and cache its location;
  this step isn't repeated unless the file is moved, the cache is manually cleared, or a new version of {xref}`snowmobile` is installed.
```
+++
**With all arguments omitted, it will authenticate with the default credentials and connection arguments specified in** [**snowmobile.toml**](./usage/snowmobile_toml).

<hr class="sn-blue">

```{div} sn-link-container
{link-badge}`./usage/snowmobile.html,cls=badge-primary text-white sn-usage,Usage: Snowmobile,tooltip=Intro & usage documentation for snowmobile.Snowmobile`
{link-badge}`./autoapi/snowmobile/core/connection/index.html,cls=badge-secondary text-white sn-api,snowmobile.core.connection,tooltip=API Documentation`
```

````

```{div} sn-pre-code
Establishing a connection from configured defaults is done with:
```

In [ ]:
import snowmobile

sn = snowmobile.connect()

```{div} sn-pre-code, sn-post-code
`sn` is a [](./usage/snowmobile) with the following attributes:
```

In [6]:
print(sn)            #> snowmobile.Snowmobile(creds='creds1')
print(sn.cfg)        #> snowmobile.Configuration('snowmobile.toml')
print(type(sn.con))  #> <class 'snowflake.connector.connection.SnowflakeConnection'>

snowmobile.Snowmobile(creds='creds1')
snowmobile.Configuration('snowmobile.toml')
<class 'snowflake.connector.connection.SnowflakeConnection'>

```{div} sn-pre-code, sn-post-code
(fixture-sn)=
Different connection arguments are accessed by assigned alias:
```

In [36]:
sn2 = snowmobile.connect(creds='sandbox')

print(sn.cfg.connection.current != sn2.cfg.connection.current) #> True

In [87]:
# -- setup --

# Verify table doesn't exist
if sn.sql.exists('sample_table'):
    sn.sql.drop('sample_table')

# Truncate 'any_other_table'
sn.sql.truncate('any_other_table')

# Path to sample .sql file
from pathlib import Path

path = Path.cwd() / 'snippets' / 'getting_started' / 'sample_table.sql'

# Execute setup statements from script
script = snowmobile.Script(sn=sn, path=path)
script.run((1,2))

sample_table.sql
================
<1 of 5> create table~s1 (0s)............................... <completed>
<2 of 5> insert into~s2 (0s)................................ <completed>

<br>

`````{admonition} **sn**
:class: sn-fixture, sn-fixture-global

````{div} sn-dedent-v-b-h, sn-dedent-v-t-container-neg
The variable `sn` represents a generic instance of [](./usage/snowmobile) roughly
equivalent to that created with the snippet below; it is referred to as {fa}`fixture sn` 
throughout the documentation, and applicable examples make use of 
it as a fixture without recreating it each time.
````

```{code-block} python
:emphasize-lines: 3, 3

import snowmobile

sn = snowmobile.connect()
```

<hr class="sn-spacer">

`````

<hr class="sn-spacer">

```{div} sn-phantom
<br>
```
### *Query Execution*

`````{admonition} *Query Execution*
:class: toggle, sn-gradient-header, sn-indent-h-cell-right-m, sn-toggle-expand

```{div} sn-dedent-v-b-h, sn-dedent-v-container-neg
  There are three convenience methods for executing raw SQL directly off [{fa}`fixture sn`](fixture-sn):
```

```{div} sn-left-pad
{meth}`~snowmobile.Snowmobile.query()` implements {meth}`pandas.read_sql()` for querying results into a {class}`~pandas.DataFrame`

{meth}`~snowmobile.Snowmobile.ex()` implements {meth}`SnowflakeConnection.cursor().execute()` for executing commands within a {xref}`SnowflakeCursor`

{meth}`~snowmobile.Snowmobile.exd()` implements {meth}`SnowflakeConnection.cursor(DictCursor).execute()` for executing commands within a {xref}`DictCursor`
```

<hr class="sn-blue">

```{div} sn-link-container
{link-badge}`./usage/snowmobile.html#executing-raw-sql,cls=badge-primary text-white sn-usage,Usage: Executing Raw SQL,tooltip=Usage documentation for Executing Raw SQL`
{link-badge}`./autoapi/snowmobile/core/connection/index.html,cls=badge-secondary text-white sn-api,snowmobile.core.connection,tooltip=API Documentation`
```

`````

````{admonition} Setup
:class: is-setup, sn-indent-h-cell-m, sn-indent-h-sub-cell-right, sn-inline-block-container, sn-dedent-v-b-container

(sn)=
The next two sections make use\
of a **sample_table** containing:
```{div} sn-dedent-v-b-container
|   COL1 |   COL2 |
|-------:|-------:|
|      1 |      1 |
|      2 |      4 |
|      4 |      9 |
```
````

<hr class="sn-spacer">

```{div} sn-pre-code
Into a {class}`~pandas.DataFrame`:
```

In [90]:
sn.query('select * from sample_table')

   col1  col2
0     1     1
1     2     4
2     3     9

```{div} sn-pre-code
Into a {xref}`SnowflakeCursor`:
```

In [91]:
sn.ex('select * from sample_table').fetchall()

[(1, 1), (2, 4), (3, 9)]

```{div} sn-pre-code
Into a {xref}`DictCursor`:
```

In [92]:
sn.exd('select * from sample_table').fetchall()

[{'COL1': 1, 'COL2': 1}, {'COL1': 2, 'COL2': 4}, {'COL1': 3, 'COL2': 9}]

```{div} sn-pre-code
Or to get a single value:
```

In [14]:
sn.query('select count(*) from sample_table', as_scalar=True)

3

```{div} sn-phantom
<br>
```
### *Information API*

`````{admonition} *Information API*
:class: toggle, sn-gradient-header, sn-indent-h-cell-right-m, sn-toggle-expand

```{div} sn-dedent-v-container-neg
  [**snowmobile.SQL**](./usage/sql.ipynb) generates and executes raw SQL from inputs; it comes free as the {attr}`~snowmobile.Snowmobile.sql`
  attribute of [{fa}`fixture sn`](fixture-sn), and its purpose is to provide a bare bones Python API to query metadata and execute 
  administrative commands against {xref}`snowflake`.
```

<hr class="sn-blue">

```{div} sn-link-container
{link-badge}`./usage/sql.html,cls=badge-primary text-white sn-usage,Usage: SQL,tooltip=Usage documentation for snowmobile.SQL`
{link-badge}`./autoapi/snowmobile/core/sql/index.html,cls=badge-secondary text-white sn-api,snowmobile.core.sql,tooltip=API Documentation`
```

`````

<p class="sn-indent-cell"></p>

```{div} sn-pre-code
Check existence of tables/views:
```

In [5]:
sn.sql.exists('sample_table')  #> True

True

```{div} sn-pre-code, sn-post-code
Sample records from a table:
```

In [93]:
sn.sql.table_sample('sample_table', n=1)

   col1  col2
0     1     1

```{div} sn-pre-code
Query depth:
```

In [4]:
sn.sql.cnt_records('sample_table')  #> 3

3

```{div} sn-pre-code, sn-post-code
Submit basic administrative commands:
```

In [3]:
sn.sql.clone(nm='sample_table', to='sample_table2')

                                      status
0  Table SAMPLE_TABLE2 successfully created.

```{div} sn-pre-code, sn-post-code
Query DDL:
```

In [53]:
print(sn.sql.ddl('sample_table'))

create or replace TABLE SAMPLE_TABLE (
	COL1 FLOAT,
	COL2 FLOAT
);

```{div} sn-pre-code
Provide `run=False` to get the raw sql
```

In [7]:
drop_sql = sn.sql.drop('sample_table', run=False)

print(drop_sql)        #> drop table if exists GEM7318.SAMPLE_TABLE

<class 'str'>
drop table if exists GEM7318.SAMPLE_TABLE

```{div} sn-pre-code
Drop objects:
```

In [8]:
for t in ['sample_table', 'sample_table2']:
    sn.sql.drop(t, obj='table')

sn.sql.exists('sample_table')   #> False
sn.sql.exists('sample_table2')  #> False

```{div} sn-phantom
<br>
```
### *Loading Data*

(intro/loading-data)=
`````{admonition} *Loading Data*
:class: toggle, sn-gradient-header, sn-indent-h-cell-right-m, sn-toggle-expand, sn-incl-tabbed-shadow-b-blue

<hr class="sn-spacer">

````{tabbed} Context
  {class}`~snowmobile.Table` is a loading solution that at minimum accepts a `df` ({class}`~pandas.DataFrame`)
  and a `table` name ({class}`str`).
+++
  In the same way that [**Snowmobile**](./usage/snowmobile) handles its keyword arguments,
  {class}`~snowmobile.Table` will adhere to any arguments explicitly provided and defer
  to the values configured in [snowmobile.toml](./usage/snowmobile_toml) otherwise.
````

````{tabbed} +
  ```{div} sn-dedent-v-t
  *The behavior outlined below reflects those within the
  [default snowmobile.toml file](./usage/snowmobile_toml.md#file-contents)*, meaning that `t1` will:
  ```
  1. Check if *sample_table* exists in the schema associated with {attr}`sn.con`
  2. If *sample_table* **does** exist, it will validate `df` against *sample_table* and throw an error
     if their dimensions are not identical
  3. If *sample_table* does **not** exist (as is the case here), it will generate DDL from `df` and execute it as part of the loading process
````

```{div} sn-link-container
{link-badge}`./usage/table.html,cls=badge-primary text-white sn-usage,Usage: snowmobile.Table,tooltip=Intro & usage documentation for snowmobile.Table`
{link-badge}`./autoapi/snowmobile/core/table/index.html,cls=badge-secondary text-white sn-api,snowmobile.core.table,tooltip=API Documentation`
```

``````

`````{admonition} Setup
:class: is-setup, sn-block-container, sn-indent-h-cell-m, sn-indent-h-sub-cell-right

````{panels}

The `df` used below is created with:

```python
import pandas as pd
import numpy as np

df = pd.DataFrame(
    data = {'COL1': [1, 2, 3], 'COL2': [1, 4, 9]}
)
print(df.shape)  #> (3, 2)
```

---

|   COL1 |   COL2 |
|-------:|-------:|
|      1 |      1 |
|      2 |      4 |
|      3 |      9 |

````

`````

In [73]:
# Verify table does not exist before moving forward with example
if sn.sql.exists('sample_table'):
    sn.sql.drop('sample_table')

In [97]:
"""Generate dummy DataFrame for snowmobile.Table example."""
import pandas as pd
import numpy as np

df = pd.DataFrame(
    data = {'COL1': [1, 2, 3], 'COL2': [1, 4, 9]}
)
df.head()

   COL1  COL2
0     1     1
1     2     4
2     3     9

<hr class="sn-spacer">

```{div} sn-pre-code, sn-indent-v-t-container
Given a `df` ({class}`~pandas.DataFrame`) and a `table` ({class}`str`) to load into, a [**Table**](./usage/table) can be created with:
```

In [75]:
t1 = snowmobile.Table(df=df, table='sample_table')

```{div} sn-pre-code, sn-post-code
With [](./usage/snowmobile_toml) defaults, `t1` has pre-inspected some things like:
```

In [18]:
print(t1.exists)  #> False  -> 'sample_table' doesn't exist in the schema associated with 'sn'

False

```{div} sn-pre-code
We can create *sample_table* and load `df` into with:
```

In [77]:
t1.load()

Loading into 'gem7318.SAMPLE_TABLE`..
(1 of 4)
	CREATE OR REPLACE TABLE SAMPLE_TABLE ( ..
(2 of 4)
	create stage SAMPLE_TABLE_stage file_format = snowmobile_default_psv;
(3 of 4)
	put file://C:/Users/GEM7318/Documents/Github/Snowmobile/docs/sample_table.csv @SAMPLE_TABLE_stage
	auto_compress = true
(4 of 4)
	copy into SAMPLE_TABLE from @SAMPLE_TABLE_stage
	on_error = continue
..completed: 3 rows in 2 seconds

snowmobile.Table(table='SAMPLE_TABLE')

```{div} sn-pre-code
Here are two ways to verify `t1.load()` did its job:
```

In [19]:
print(t1.loaded)                           #> True -> t1 didn't encounter any errors during .load()
print(sn.sql.cnt_records('sample_table'))  #> 3  ---> 'sample_table' contains three records

Loading into 'gem7318.SAMPLE_TABLE`..
(1 of 4)
	CREATE OR REPLACE TABLE SAMPLE_TABLE ( ..
(2 of 4)
	create stage SAMPLE_TABLE_stage file_format = snowmobile_default_psv;
(3 of 4)
	put file://C:/Users/GEM7318/Documents/Github/Snowmobile/docs/sample_table.csv @SAMPLE_TABLE_stage
	auto_compress = true
(4 of 4)
	copy into SAMPLE_TABLE from @SAMPLE_TABLE_stage
	on_error = continue
..completed: 3 rows in 2 seconds

snowmobile.Table(table='SAMPLE_TABLE')

```{div} sn-indent-h-cell-m
<hr class="sn-green-medium" style="margin-top: 1.4rem; margin-bottom: 0.5rem;">
```

```{div} sn-pre-code
In instances where the {class}`~pandas.DataFrame` and table have different dimensions:
```

In [76]:
df2 = pd.concat([df, df], axis=1)
df2.head(1)

   COL1  COL2  COL1  COL2
0   1.0   0.0   1.0   0.0

```{div} sn-pre-code
Here's what `t2` knows about `df` and *sample_table*:
```

In [78]:
t2 = snowmobile.Table(sn=sn, df=df2, table='sample_table')

print(t2.exists)      #> True  --> 'sample_table' exists in the schema associated with `sn`
print(t2.cols_match)  #> False  -> `df2` and 'sample_table' don't share the same dimensions

True
False

```{div} sn-pre-code, sn-post-code
`t2` also checked the columns of `df2` and deduped them by appending a suffix to the second set:
```

In [10]:
t3.df.head(1)

   COL1  COL2  COL1_1  COL2_1
0   1.0   0.0     1.0     0.0

```{div} sn-pre-code
Loading in the same way we did `t1` will throw an error with the default [snowmobile.toml](./usage/snowmobile_toml):
```

In [33]:
from snowmobile.core.errors import ColumnMismatchError

try:
    t2.load()
except ExistingTableError as e:
    print(e)
"""
ColumnMismatchError: `SAMPLE_TABLE` columns do not equal those in the local DataFrame 
and if_exists='append' was specified.
Either provide if_exists='replace' to overwrite the existing table or see `table.col_diff`
to inspect the mismatched columns.
"""

ColumnMismatchError: `SAMPLE_TABLE` columns do not equal those in the local DataFrame and if_exists='append' was specified.
Either provide if_exists='replace' to overwrite the existing table or see `table.col_diff` to inspect the mismatched columns.

```{div} sn-pre-code, sn-post-code
Explicit arguments take precedent over configurations in [snowmobile.toml](./usage/snowmobile_toml), so `df2` can still be loaded with:
```

In [79]:
t2.load(if_exists='replace')

print(t2.loaded)                           #> True
print(sn.sql.cnt_records('sample_table'))  #> 3
print(sn.sql.columns('sample_table'))      #> ['COL1', 'COL2', 'COL1_1', 'COL2_1']

Loading into 'gem7318.SAMPLE_TABLE`..
(1 of 4)
	CREATE OR REPLACE TABLE SAMPLE_TABLE ( ..
(2 of 4)
	create stage SAMPLE_TABLE_stage file_format = snowmobile_default_psv;
(3 of 4)
	put file://C:/Users/GEM7318/Documents/Github/Snowmobile/docs/sample_table.csv @SAMPLE_TABLE_stage
	auto_compress = true
(4 of 4)
	copy into SAMPLE_TABLE from @SAMPLE_TABLE_stage
	on_error = continue
..completed: 3 rows in 2 seconds
True
3
['COL1', 'COL2', 'COL1_1', 'COL2_1']

<br>
<hr class="sn-spacer">

```{div} sn-phantom
&nbsp;
```
### *Working with SQL Scripts*

(intro/working-with-sql-scripts)=
`````{admonition} *Working with SQL Scripts*
:class: toggle, sn-gradient-header, sn-indent-h-cell-right-m, sn-toggle-expand, sn-incl-tabbed-shadow-b-blue

<hr class="sn-spacer">

````{tabbed} Context
  [**snowmobile.Script**](./usage/script.md) accepts a full `path` to a sql file and parses its contents based on 
  patterns specified in [snowmobile.toml](./usage/snowmobile_toml).
+++  
  At a minimum, the file is split into individual statements, each of which is 
  checked for decorated information in the form of a string directly preceding it
  wrapped in an opening (`/*-`) and closing (`-*/`) pattern, the simplest form of
  which is a single-line string that can be used as an accessor to the statement
  it precedes.
+++
  When no information is provided, [Script](./usage/script.ipynb) generates a 
  generic name for the statement based on the literal first SQL keyword 
  it contains and its index position.
````

````{tabbed} +
  Line **27** within *sample_table.sql* represents the minimum markup required to associate a 
  name with an individual statement; consistency in tag structure has obvious benefits, but
  this is a freeform string that can be anything.
+++
  Line **19** is an example of a special tag; the leading `qa-empty` tells 
  [**Script**](./usage/script.ipynb) to run assertion that its results are
  null (0 records) before continuing execution of the script.
+++
  The tags for statements beginning on lines **1**, **6**, and **17** were generated by 
  [**Script**](./usage/script.ipynb) based their contents and relative positions within the script.
````

```{div} sn-link-container
{link-badge}`./usage/script.html,cls=badge-primary text-white sn-usage,Usage: snowmobile.Script,tooltip=Intro & usage documentation for snowmobile.Script`
{link-badge}`./autoapi/snowmobile/core/script/index.html,cls=badge-secondary text-white sn-api,snowmobile.core.script,tooltip=API Documentation`
```

`````

````{admonition} Setup
:class: is-setup, sn-block-container, sn-indent-h-cell-m

```{div} sn-dedent-v-t-h, hanging
`path` is a full path ({class}`pathlib.Path` or {class}`str`) to a file, 
*sample_table.sql*, containing 5 standard sql statements: 
```

```{literalinclude}  ./snippets/overview/sample_table.sql
:language: sql
:lines: 2-36
:lineno-start: 1
:emphasize-lines: 1, 6, 17, 20, 28
```
```{div} sn-snippet-trunc2, sn-float-right
[{fa}`file-code-o` sample_table.sql](./snippets.md#overview)
```

````

In [4]:
# -- setup --

# Verify table doesn't exist
if sn.sql.exists('sample_table'):
    sn.sql.drop('sample_table')

# Truncate 'any_other_table'
sn.sql.truncate('any_other_table')

# Path to sample .sql file
from pathlib import Path

path = Path.cwd() / 'snippets' / 'overview' / 'sample_table.sql'

```{div} sn-pre-code
Given a `path` to *sample_table.sql*, a [Script](./usage/script) can be created with:
```

In [81]:
script = snowmobile.Script(path=path)

print(script)           #> snowmobile.Script('sample_table.sql')
print(script.depth)     #> 5
script.dtl()

sample_table.sql
================
1: Statement('create table~s1')
2: Statement('insert into~s2')
3: Statement('select data~s3')
4: Statement('qa-empty~verify 'sample_table' is distinct on 'col1'')
5: Statement('insert into~any_other_table')

```{div} sn-pre-code, sn-post-code
  Any [Statement](/autoapi/snowmobile/core/statement/index) can be accessed by 
  their {attr}`~snowmobile.core.Name.nm` or index position:
```

```{div} sn-pre-code, sn-post-code
  Statements can be accessed by their index position or name ({attr}`~snowmobile.core.Name.nm`):
```

In [51]:
script(5)                             #> Statement('insert into~any_other_table')
script(-1)                            #> Statement('insert into~any_other_table')
script('insert into~any_other_table') #> Statement('insert into~any_other_table')

Statement('insert into~any_other_table')

```{div} sn-pre-code, sn-post-code
Each [Statement](/autoapi/snowmobile/core/statement/index) has its own set of attributes:
```

In [20]:
s3 = script(3)  # store 3rd statement

print(s3.index)     #> 3
print(s3.sql)       #> select * from sample_table
print(s3.kw)        #> select
print(s3.desc)      #> sample_table
print(s3.nm)        #> select~sample_table

3
select
sample_table
select~sample_table
select * from sample_table
False
Empty DataFrame
Columns: []
Index: []

```{div} sn-pre-code, sn-post-code
Based on statement attributes, `script` can be subsetted and ran within that context:
```

```{div} sn-pre-code, sn-post-code
Based on statement attributes, `script` can be filtered and used within that context:
```

In [65]:
with script.filter(
    excl_desc=[r'.*any_other_table']  # throwing out s5; pattern is regex not glob
    excl_kw=['select'],               # throwing out s3
) as s:
    s.run()

sample_table.sql
================
<1 of 3> create table~s1 (0s)............................... <completed>
<2 of 3> insert into~s2 (0s)................................ <completed>
<3 of 3> qa-empty~verify 'sample_table' is distinct on 'col1' (0s).... <passed>

```{div} sn-pre-code, sn-post-code
Spans of statements are directly executable by index boundaries:
```

In [68]:
script.run((1, 3))

sample_table.sql
================
<1 of 6> create table~s1 (0s)............................... <completed>
<2 of 6> insert into~s2 (0s)................................ <completed>
<3 of 6> select data~s3 (0s)................................ <completed>

```{div} sn-pre-code, sn-post-code
And their results accessible retroactively:
```

In [48]:
script(3).results.head()

   col1  col2
0     1     1
1     2     4
2     3     9

```{div} sn-pre-code, sn-post-code
Generated SQL can be added directly to `script`:
```

In [60]:
# Generate some sql
drop_sql = sn.sql.drop(nm='sample_table', obj='table', run=False)
print(drop_sql)      #> drop table if exists SAMPLE_TABLE

# Details (pre)
print(script.depth)  #> 5
print(script(-1))    #> Statement('insert into~any_other_table')

# Add statement
script.add_s(s=drop_sql)

# Details (post)
print(script.depth)  #> 6
print(script(-1))    #> Statement('drop table~s6')

script.dtl()

sample_table.sql
================
1: Statement('create table~s1')
2: Statement('insert into~s2')
3: Statement('select data~s3')
4: Statement('qa-empty~verify 'sample_table' is distinct on 'col1'')
5: Statement('insert into~any_other_table')
6: Statement('drop table~s6')

```{div} sn-pre-code, sn-post-code
And descriptive statements can be skipped instead of commented out:
```

In [72]:
with script.filter(excl_kw=['select']) as s:
    s.run()

sample_table.sql
================
<1 of 5> create table~s1 (0s)............................... <completed>
<2 of 5> insert into~s2 (0s)................................ <completed>
<3 of 5> qa-empty~verify 'sample_table' is distinct on 'col1' (0s).... <passed>
<4 of 5> insert into~any_other_table (0s)............................. <completed>
<5 of 5> drop table~s5 (0s)................................. <completed>

<hr class="sn-spacer">

```{div} sn-pre-code
See [Usage: Script](./usage/script.md) for more in-depth use of [snowmobile.Script](./usage/script).
```

<br>

### *Wrap-Up*
<hr class="sn-green-thick sn-indent-h-cell-right-m">

`````{admonition} Note
:class: note, sn-indent-h-cell-m

 ```{div} sn-dedent-v-b-h
 By instantiating `t1` and `script` with the same instance of [{fa}`fixture sn`](fixture-sn),
 **the same instance of {xref}`SnowflakeConnection` and [Configuration](./usage/snowmobile_toml) 
 is shared amongst:**
 ```
 - {class}`sn:` {class}`~snowmobile.Snowmobile`
 - {class}`t1:` {class}`~snowmobile.Table`
 - {class}`script:` {class}`~snowmobile.Script`

`````

# NO RENDER BELOW THIS POINT
---

All cells below this are either excluded from output via the `remove-cell` cell-tag
or contain contents that will not visibly render in the output.

# Style


```css
<style>
.md-typeset h1, .md-typeset h2 {
    margin-top: -0.5rem;
}
    
.md-typeset h3 {
    margin-top: -0.5rem;
    margin-bottom: 0.2rem;
    font-size: 140%;
}
    
/* .md-typeset .admonition.is-setup {
    border-left-color: #11838e;
    margin: -0.15rem 1.5rem .7rem 0.85rem;
} */
</style>
```

<style>
.md-typeset h1, .md-typeset h2 {
    margin-top: -0.5rem;
}
    
.md-typeset h3 {
    margin-top: -0.5rem;
    margin-bottom: 0.2rem;
    font-size: 140%;
}
    
<!-- .md-typeset .admonition.is-setup { -->
<!--     border-left-color: #11838e; -->
<!--     margin: -0.15rem 1.5rem .7rem 0.85rem; -->
<!--     display: block; -->
}
</style>